* {
    margin: 0px;
    font-family: "inter";
}

#logo {
    margin-top: 52px;
    margin-left: 56px;
}

#titulo-principal {
    margin-top: 40px;
    margin-left: 182px;
}

#paragrafo {
    margin-top: 30px;
    margin-left: 182px;
}

#menusuperior {
    color: rgb(255, 255, 255);
    background-image: url(/imagens/plano-de-fundo1.svg);
    padding-bottom: 115px;
}

#menuinformacional {
    background: #EAECE5;
    display: grid;
    grid-auto-flow: column;

}

.icone {
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

.textoinformativo {
    display: flex;
    align-items: center;

}

#video {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulodovideo {
    color: #247BA0;
    margin-top: 50px;
    margin-left: -60px;
    margin-bottom: 30px;
}

#textodovideo {
    margin-left: -60px;

}

#videoo {
    margin: 50px 25px 50px 100px;
}

#carrossel {
    background-color: #247BA0;
    padding: 50px;


}

#titulocarrossel {
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 25px;
}

#div-cards {
    margin-top: 35px;
    display: grid;
    grid-auto-flow: column;

}

.card {
    margin-left: 40px;
}

#seta-esquerda {
    display: none;

}

#bruna {
    display: none;
}

.seta {
    margin-top: 50%;
    cursor: pointer;
}

.seta:hover {
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

#formulario {
    text-align: center;
}

#tituloformulario {
    text-align: center;
    margin-top: 22px;
    color: #383838;

}

input {
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    border: 0px;
    margin: 15px;
    border-radius: 5px;
    padding-left: 12.5px;
}

button {
    background-color: #247BA0;
    color: white;
    width: 250px;
    height: 40px;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #366c83;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #030408ab;
    transition-duration: 0.35s;
}